.style-for-container{
    background-color: royalblue;
}

.style-for-container-fluid{
    background-color: salmon;
}

.center-part{
    background-color: slategray;
}

.left-part{
    background-color: tan;
}