<!-- Event binding

<div class="container-fluid">
    <div class="row">
        <button (click)=onClick($event)>click me</button>
    </div>
</div> -->

<!-- --------------------------------------------------------------------------------------------------------------------- -->

<!-- Template reference variable

<div class="container-fluid">
    <div class="row">
        <input #templateReferenceVariable type="text">
        <button (click)=onClickofInput(templateReferenceVariable.value)>Log</button>
    </div>
    <div class="row">
        <input #templateReferenceVariable1 type="text">
        <button (click)=onClickOfInput1(templateReferenceVariable1)>Log</button>
    </div>
</div> -->

<!-- --------------------------------------------------------------------------------------------------------------------- -->
<!-- Two way binding

<div class="container-fluid">
    <div class="row">
        <input [(ngModel)]="name" type="text">
    </div>
    <div class="row">
        {{name}}
    </div>
</div> -->

<!-- --------------------------------------------------------------------------------------------------------------------- -->
<!-- Structural Directive

<div class="container-fluid">
    <div class="row">
        <h4 *ngIf="ngIF; else elseBlock">Welcome to Code evolution</h4>
    </div>

    <ng-template #elseBlock>
        <h4>Inside else block</h4>
    </ng-template>
</div>

<div class="container-fluid">
    <div class="row">
        <div *ngIf="displayName; then ifBlock; else elseBlock"></div>

        <ng-template #ifBlock>
            <h4>If block</h4>
        </ng-template>

        <ng-template #elseBlock>
            <h4>Else block</h4>
        </ng-template>
    </div>
</div> -->

<!-- --------------------------------------------------------------------------------------------------------------------- -->