<!-- Property binding  testing -->
<!-- <p>{{property}}</p>
<P>{{property.toLowerCase()}}</P> -->
<!-- <p *ngIf=b>{{propertyBindingTest()}}</p>
<p *ngIf="true">{{property}}</p> -->
<!-- <p [(ngModel)]="b">{{b}}</p> -->

<!-- alltestings  -->
<!-- <p>String manupulation test : {{stringManupulation}}</p>
<p>String maupulated method calling : {{stringManupulatedMethod()}}</p>
<p>Converting given string to lowecase by string manupulation :  {{lowerCase.toLowerCase()}}</p>

  
     

<!-- property binding -->
<!-- <input type="text" [value]='inputId'>
<input [disabled]=true>
<input bind-disabled="boolean"> -->



<!-- Class Binding 
<h3  [class]="styleClass"  >Adding style class by class binding</h3>
<h3 [class.text-dangor]=true>Adding style class by true or false value</h3>
<h3 [ngClass]="s">Adding syltes class by list of true false statements</h3> -->

 

<!-- Styles binding --> 
<!-- <h3 [style.color]="'red'">Styles binding test</h3>
<h3 [style.color]=stylesColor>Styles binding with String manupulation</h3>
<h3 [style.color]="false ? 'red' : 'green'">Styles binding with conditional opertor</h3> 
<h3 [ngStyle]="stylesGroup">Styles binding with the values of given object</h3> -->
     


<!-- Event binding -->
<!-- <button (click)="onClick($event)">Click me</button>
{{eventType}} -->
<!-- <button (click)="greetElement='Welcome to Rule 1 website'">Click here</button>
<br><br>
{{greetElement}} -->

  
     


<!-- Template reference -->
<!-- <input #refVar type="text">
<button (click)="refVar(refVar.value)"></button> -->

  
     


<!-- <p [(ngModel)]="b" type="text"><br>
     {{b}} -->

  
     


<!-- ngIf Directive-->
<!-- <h3 *ngIf="ngIF; else elseBlock">If block</h3>
<ng-template #elseBlock>
     <h3>Else block</h3>
</ng-template> -->

<!-- <ng-template #thenBlock>
     <h3>If Block</h3>
</ng-template>
<ng-template #elseBlock>
     <h3>else block</h3>
</ng-template>
<div *ngIf="ngIF; then thenBlock; else elseBlock"></div> -->




<!-- ngSwitch directive -->
<!--  <div [ngSwitch]="color">
     <div *ngSwitchCase="'red'">You picked red color</div>
     <div *ngSwitchCase="'blue'">You picked blue color</div>
     <div *ngSwitchCase="'orange'">You picked orange color</div>
     <div *ngSwitchDefault>Pick Again</div>
</div>  -->



<!-- ngFor loop -->
<!-- <div *ngFor="let color of colors; last as l">
     <h3>{{l}} {{color}}</h3>
</div> -->








  
     

